<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffmRepository type="Sitecore.Forms.Mvc.Services.FormRepository,Sitecore.Forms.Mvc" singleInstance="false">
      <patch:attribute name="type">Sitecore.Support.Forms.Mvc.Services.FormRepository, Sitecore.Support.220540</patch:attribute>
    </wffmRepository>
    <wffmRenderingContext type="Sitecore.Forms.Mvc.Data.Wrappers.WrappedRenderingContext,Sitecore.Forms.Mvc" singleInstance="true">
      <patch:attribute name="type">Sitecore.Support.Forms.Mvc.Data.Wrappers.WrappedRenderingContext, Sitecore.Support.220540</patch:attribute>
    </wffmRenderingContext>
  </sitecore>
</configuration>